.number {
  padding: 20px;
  background-color: white;
  margin-right: 5px;
  color: black;
  font-size: 30px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  outline: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
}
